@charset "UTF-8";
.bct-bookmaker-popup-btn {
  position: relative;
  padding: 11px;
}
@media screen and (min-width: 768px) {
  .bct-bookmaker-popup-btn {
    padding: 0 11px 11px 11px;
  }
}
.bct-bookmaker-popup-btn.sticky {
  display: none;
  position: fixed;
  top: 95px;
  z-index: 9990;
  width: 100%;
}
.bct-bookmaker-popup-btn__indicator {
  height: 42px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 10px 10px 70px;
  background: linear-gradient(to bottom right, #2e8ee7 0%, #174774 100%);
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .bct-bookmaker-popup-btn__indicator::before {
    animation: shine-popup-desktop 3.5s linear 2s infinite;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 300%;
    height: 100%;
    opacity: 0;
    transform: rotate(-45deg);
    background: rgba(255, 255, 255, 0.3);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 77%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0) 100%);
  }
}
.bct-bookmaker-popup-btn__indicator span {
  display: block;
  background-color: #ee381d;
  width: 100px;
  transform: rotate(-45deg);
  text-align: center;
  margin-left: -10px;
  position: absolute;
  bottom: 8px;
  left: -6px;
}
.bct-bookmaker-popup-btn__text {
  display: flex;
  align-items: center;
  position: relative;
}
.bct-bookmaker-popup-btn__icon {
  margin-left: 6px;
}
.bct-bookmaker-popup-btn__close {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .bct-bookmaker-popup-btn__close {
    top: -9px;
  }
}
@media screen and (max-width: 767px) {
  .bct-bookmaker-popup-btn__close {
    z-index: 999;
  }
}

.popup-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 9999;
}
.popup-modal .popup-modal-content {
  background: linear-gradient(to bottom right, #2b80de 0%, #123752 100%);
  position: fixed;
  width: 900px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
@media (max-width: 575.98px) {
  .popup-modal .popup-modal-content {
    width: 100%;
    height: initial;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.popup-modal .popup-modal-content__bookmaker-img {
  width: 94px;
  height: 94px;
  border-radius: 5px;
  margin: 0 auto 30px auto;
  display: block;
}
.popup-modal .popup-modal-content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575.98px) {
  .popup-modal .popup-modal-content__container {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .popup-modal .popup-modal-content__left {
    display: none;
  }
}
.popup-modal .popup-modal-content__right {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .popup-modal .popup-modal-content__right {
    padding: 20px;
  }
}
.popup-modal .popup-modal-content__right a {
  text-decoration: none;
}
.popup-modal .popup-modal-content ul {
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 5px;
}
@media (max-width: 575.98px) {
  .popup-modal .popup-modal-content ul {
    margin-left: 0;
  }
}
.popup-modal .popup-modal-content ul li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fff;
  display: flex;
  align-items: center;
}
.popup-modal .popup-modal-content ul li::before {
  font-family: "icomoon";
  content: "";
  font-size: 15px;
  color: #1ac625;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 15px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-modal .popup-modal-content__cta {
  background: #ee381d;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 0 20px #ee381dcc;
  margin-bottom: 15px;
}
.popup-modal .popup-modal-content__cta::after {
  font-family: "icomoon";
  content: "";
  font-weight: 400;
  margin-left: 6px;
  font-size: 13px;
}
.popup-modal .popup-modal-content .compliance_asterisk {
  font-size: 9px;
  color: #fff;
  text-align: center;
}
.popup-modal .popup-modal-content .close-modal {
  color: #fff;
  font-size: 13px;
  background-color: #000;
  border-radius: 50%;
  padding: 7px;
  width: 30px;
  text-align: center;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .popup-modal .popup-modal-content .close-modal {
    position: static;
    align-self: flex-end;
  }
}

@keyframes shine-popup-desktop {
  0% {
    opacity: 1;
    top: 30%;
    right: 10%;
    transition-property: right, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  20% {
    opacity: 1;
    top: 0;
    left: 0;
    transition-property: right, top, opacity;
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    transition-property: right, top, opacity;
  }
}

/*# sourceMappingURL=bct-bookmaker-popup.css.map */
