// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

// Maximum breakpoint width.
// The maximum value is reduced by 0.02px to work around the limitations of
// `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261
//
//    >> breakpoint-max(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767.98px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - .02, null);
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

$bct-right-arrow-icon: "\e931";
$bct-tick-icon: "\e91f";

.popup-bookmaker-widget {
  position: relative;
  padding: 9px 9px 0 0;
  width: 300px;
  display: none;

  &__indicator {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    background: linear-gradient(to bottom right, #2e8ee7 0%, #174774 100%);
    overflow: hidden;
    position: relative;

    &::before {
      animation: shine-popup-desktop 3.5s linear 2s infinite;
      content: '';
      position: absolute;
      top: -110%;
      left: -210%;
      width: 300%;
      height: 100%;
      opacity: 0;
      transform: rotate(-45deg);
      background: rgba(255, 255, 255, 0.3);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 77%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0) 100%);
    }

    span {
      display: block;
      background-color: #ee381d;
      width: 76px;
      transform: rotate(-45deg);
      text-align: center;
      color: #fff;
      margin-left: -10px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__icon {
    margin-left: 6px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    border-radius: 50%;
    padding: 5px;
    z-index: 999;
    cursor: pointer;
  }
}

.popup-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  z-index: 999;

  .popup-modal-content {
    background: linear-gradient(to bottom right, #2b80de 0%, #123752 100%);
    position: fixed;
    width: 900px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: initial;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &__bookmaker-img {
      width: 94px;
      height: 94px;
      border-radius: 5px;
      margin: 0 auto 30px auto;
      display: block;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    &__left {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &__right {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        padding: 20px;
      }

      a {
        text-decoration: none;
      }
    }

    ul {
      margin-left: 10px;
      margin-bottom: 5px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }

      li {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #fff;
        display: flex;
        align-items: center;

        &::before {
          font-family: 'icomoon';
          content: $bct-tick-icon;
          font-size: 20px;
          color: #1ac625;
          background-color: #fff;
          border-radius: 50%;
          margin-right: 15px;
        }
      }
    }

    &__cta {
      background: #ee381d;
      color: #fff;
      padding: 15px 25px;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
      box-shadow: 0 0 20px #ee381dcc;
      margin-bottom: 15px;

      &::after {
        font-family: 'icomoon';
        content: $bct-right-arrow-icon;
        font-weight: 400;
        margin-left: 6px;
        font-size: 13px;
      }
    }

    .compliance_asterisk {
      font-size: 9px;
      color: #fff;
      text-align: center;
    }

    .close-modal {
      color: #fff;
      font-size: 13px;
      background-color: #000;
      border-radius: 50%;
      padding: 7px;
      width: 30px;
      text-align: center;
      height: 30px;
      position: absolute;
      top: -15px;
      right: -15px;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        position: static;
        align-self: flex-end;
      }
    }
  }
}
